<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempetek.financial.server.mapper.DscPaymentFlowMapper">

    <select id="getLatestTime" resultType="java.lang.Long">
        select max(created_at) from dsc_payment_flow
    </select>

    <select id="countByTime" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from dsc_payment_flow where date_format(from_unixtime(created_at), '%Y-%m-%d') = #{date}
    </select>
</mapper>